{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/base.css') }}">
{% endblock %}

{% block body %}

	<h1>Liste des Produits</h1>

	<div class="produits">
		{% for produit in produits %}
			<div class="produit-card">
				<h2>{{ produit.name }}</h2>
				<p>{{ produit.description }}</p>
				<p>
					<strong>Prix :</strong>
					{{ produit.prix }}
					€</p>
				<p>
					<strong>Disponible :</strong>
					{{ produit.available ? 'Oui' : 'Non' }}</p>
				{% if produit.media and produit.media|length > 0 %}
					<img src="{{ asset('uploads/images/' ~ produit.media[0].filename) }}" alt="{{ produit.name }}" width="200">
				{% endif %}
			</div>
			<a href ="{{ path('cart_add' , {id: produit.id}) }}">Ajouter au panier</a>
		{% else %}
			<p>Aucun produit disponible.</p>
		{% endfor %}
	</div>
{% endblock %}
