{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/base.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/home/index.css') }}">
{% endblock %}

{% block body %}
	<h1>Notre catalogue</h1>

	<div class="produits-grid">
		{% for produit in produits %}
			<div class="produit-card">
				<div class="image-container">
					{% if produit.image is not empty %}
						<a href="{{ path('app_produit_show', {'id': produit.id}) }}">
							<img src="{{ asset('uploads/images/' ~ produit.image) }}" alt="{{ produit.name|e }}"/>
						</a>
					{% else %}
						<p>Aucune image disponible</p>
					{% endif %}
				</div>
				<div class="card-header">
					<h2>{{ produit.name }}</h2>
					<span class="prix">{{ produit.prix }}€</span>
				</div>
				<details>
					<summary>Description</summary>
					<p>{{ produit.description }}</p>
				</details>
				<div class="card-footer">
					<span class="dispo">{{ produit.available ? 'Disponible' : 'Indisponible' }}</span>
					<a href="{{ path('cart_add', {'id': produit.id}) }}" class="add-to-cart">Ajouter au panier</a>
				</div>
			</div>
		{% else %}
			<p>Aucun produit disponible.</p>
		{% endfor %}
	</div>
{% endblock %}
