{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/produit/new.css') }}">
{% endblock %}

{% block body %}
    <h1>Créer un nouveau Produit</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.categorie) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_produit_index') }}">← Retour à la liste</a>
{% endblock %}
