<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Les Stocks de Nassim{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
    {% endblock %}
</head>

<body>
    <header class="main-header">
        <div class="brand">
            <a href="{{ path('app_home') }}">Les Stocks de Nassim</a>
        </div>

        <nav class="auth-links">
            {% if app.user %}
                <a href="{{ path('change_profil') }}">
                    Bonjour {{ app.user.name }} !
                </a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_dashboard') }}" class="admin-button">
                        Dashboard Administrateur
                    </a>
                {% endif %}
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block javascripts %}{% endblock %}
</body>
</html>
