{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/base.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/categorie/new.css') }}">
{% endblock %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
	<h1>Créer une Nouvelle Catégorie</h1>

	{{ include('categorie/_form.html.twig') }}

	<a href="{{ path('app_categorie_index') }}" class="btn-retour">Retour à la liste</a>
{% endblock %}
